@mixin flex-center($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  @media only screen and (max-width: 40em) {
    font-size: 55%;
  }

  @media only screen and (max-width: 25em) {
    font-size: 42%;
  }
}

@mixin btn-basic {
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem 2.5rem;
  outline: none;
  border: none;
  background-color: #ff0084;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: rgb(180, 29, 180);
  }
}

body {
  background-color: rgb(13, 13, 168);
  background-image: url("./images/curve.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

header {
  //   border: 1px solid;
  height: 10vh;
  width: 112rem;
  max-width: 95%;
  @include flex-center(space-between);
  margin: 0 auto;
  color: #fff;

  h2 {
    font-size: 4rem;
  }
}

main {
  height: 90vh;
  width: 112rem;
  max-width: 95%;
  @include flex-center(space-between);
  margin: 0 auto;
}

section.left {
  color: #fff;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
    color: #ffffffd9;
  }

  ul.countdown {
    display: flex;
    gap: 2rem;
    list-style-type: none;

    li {
      //   position: relative;
      display: grid;
      justify-items: center;
      margin: -2rem 0 1.5rem;

      span {
        display: inline-block;
      }

      span:nth-child(1) {
        background-color: rgba(17, 17, 226, 0.897);
        border-radius: 50%;
        padding: 1.5rem;
        height: 8rem;
        width: 8rem;
        transform: translateY(50%);
        @include flex-center(center);
        font-size: 2rem;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2),
          -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.2);
      }

      span:nth-child(2) {
        width: 10rem;
        height: 7rem;
        background-color: #ff0084;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        border-radius: 3px;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2),
          -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.2);
      }
    }
  }

  button {
    @include btn-basic;

    &:hover {
      background-color: #d30b72;
    }
  }

  ul.media-links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 3rem;

    li {
      font-size: 2rem;

      a {
        text-decoration: none;
        color: #ffffffd7;
      }
    }
  }
}

section.right {
  width: 40%;
  height: 80%;

  @media only screen and (max-width: 48em) {
    position: absolute;
    top: 0.5rem;
    left: 20rem;
    width: 8rem;
    height: 6rem;
  }

  @media only screen and (max-width: 25em) {
    top: 1.5rem;
  }

  figure {
    height: 100%;
    width: 100%;
    img {
      height: inherit;
      width: inherit;
    }
  }
}

section.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(107, 36, 36, 0.8);
  display: none;
  justify-content: center;
  align-items: center;

  form {
    width: 45rem;
    max-width: 95%;
    background-color: #fff;
    padding: 3rem 4rem;
    position: relative;

    button.close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 3.5rem;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: transparent;
      z-index: 100;
    }

    h2 {
      font-size: 4rem;
      color: rgba(0, 0, 0, 0.55);
    }

    p {
      font-size: 2.2rem;
      color: rgba(0, 0, 0, 0.7);
    }

    input {
      font-size: 1.6rem;
      padding: 1rem;
      width: 100%;
      border-radius: 3px;
      transition: 0.3s ease-in;
      outline: none;
      margin: 1rem 0;
      border: 1px solid purple;

      &:focus {
        border: 2px solid purple;
      }
    }

    button.submit {
      @include btn-basic;
    }
  }
}
